*{
box-sizing: border-box;
}
body{
font-family: HelveticaRoman, Arial, Helvetica, sans-serif;
}
.category-main{
margin-top: 20px;
}
.container{
direction: rtl;
}
.container ul{
list-style-type: none;
display: flex;
}
.page-title a{
text-decoration: none;
color: #5d5d5d;
padding-left: 10px;
font-size: 18px;
}
.page-title a:hover{
color: #d81717;
}
.btn_send{
    color: #fff;
    background-color: #d81717;
    width:75px;
}
.btn_send:hover{
    background-color: #5d5d5d;
    color: #fff;
}
