
*{
box-sizing: border-box;
}
body{
  font-family: HelveticaRoman, Arial, Helvetica, sans-serif;
}
.linksocial{
height: 35px;
display: flex;
margin-top: -10px;
padding-top: 5px;
width: 100%;
}
.calendar{
font-size: 13px;
margin-left: 70px;
}
.linksocial a {
  font-size: 13px;
  text-decoration: none;
  color: #fff;
}
.audible{
  padding-left: 220px;
}
.phonequestion{
  padding-left: 20px;
}
.part2{
  display: flex;
  background-color: #EEEEEE;
  width: 100%;
}
.logo  img{
width: 110px;
height: 70px;
margin: 40px 169px 30px 800px  ;
}
.socialicons{
  display: flex;
  margin-top: 40px;
  margin-left: 190px;
}
.social{
  padding-left: 15px;
}
.socialicons a:hover{
  background-color: #d81717;
  color: #fff;
}
.socialicons a {
  font-size: 15px;
    border-radius: 50%;
    padding: 8px 7px 0px 7px;
    position: relative;
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #5d5d5d;
    text-align: center;
    color: #5d5d5d;
}
.list{
  box-shadow: 1px 3px 3px rgba(216, 23, 23, 0.2);
  font-size: 20px;
  background-color: #d81717;
height: 50px;
width: 100%;

}
.list ul{
  list-style-type: none;
  display: flex;
  width: 80%;
  margin-top: -31px;
  margin-left: 303px;
}
.list ul li{
  margin-left: 30px;
  position: relative;

}
.list a{
  font-weight: bold;
  color: #fff;
  position: relative;
  z-index: 0;
  direction: rtl;
}
.list li :hover{color: #fff;
 
}
.list li a:hover::before {
    height: 100%;
    width: 100%;
    padding: 25px 20px;
    margin-top: -12px;
}
.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 0%;
  background: #5d5d5d;
  transition: all .3s ease-out;
  z-index: -1;
}

.carousel-caption h2{
  margin-right: 134px;
  font-size: 25px;
  font-weight: bold;
  float: right;
}
.carousel-caption{
  width: 100%;
}
.carousel-item img:hover{opacity: 1;}
.carousel-item img{
  height: 383px;
  opacity: .9;
}
.imgpart1 img{
  width: 350px;
  height: 190px;
  margin-top: 40px;
}
.imgpart2 img{
  margin-top: 10px;
    width: 350px;
    height: 190px;
  }
.imageparts{
  margin-left: 200px;
  margin-right: 30px;
}
.newsone{
color: #fff;
margin-top: -60px;
margin-left: 150px;}
.newtwo{
  color: #fff;
  margin-top: -50px;
  margin-left: 15px;
  }
  .Date{
    margin-left:45px;
  }
  .Date2{
    margin-left: 180px;
  }
.newsone h3 ,.newtwo h3{
  font-size: 18px;
}
.currency {
  padding: 0 15px;
}
.slide_title {
  background: #d81717;
}.text-center {
  padding-top: 5px;
}.font16 {
  font-size: 18px !important;
  font-weight: bold;
}
.bgtitle {
  font-family: HelveticaBold;
}.slider_cur {
  background: #000;
}.marquee {
  overflow: hidden;
}
.row{
  direction: rtl;
  margin-left: 70px;
    width: 1184px;
  height: 40px;
  margin-top: 20px;
}
.slider_cur  a{
  text-decoration: none;
  color: #fff;
  padding-left: 40px;
}
.part4{
  margin-top: 90px;
  margin-left: 1230px;
}
.titlepart4 a{
  color: #8a8a8a;
  text-decoration:none;
  font-size: 30px;
}
.card-title{
  color: #5d5d5d;
}
.card-text{
  font-size: 17px;
  font-weight: bold;
}
.card-title1{
  color: #5d5d5d;
  margin-left: 70px;
}
.card-text1{
  font-size: 17px;
  font-weight: bold;
  margin-left: 70px;
}
.cards{
  padding-top: 60px;
  margin-left: -930px;
}
.card{
margin-left: 20px;
}
.card-body{
  background-color: #EEEEEE;
  padding-left: 30px;
}
.part5{
  margin-top: 30px;
  margin-left: 410px;
}
.sec{
  padding-left: 25px;
  
}
.sec img{
width: 290px;
}
.sec p{
  color:#5d5d5d;
  font-size: 18px;
  margin-top: 15px;
}
.pargraphPart5{
  margin-left: 40px;
}
.PargraphPart5{
  margin-left: 20px;
}
.height8 {
  height: 8px;
  background: #000;
width: 920px;
margin-left: 440px;}
.part6{
  display: flex;
  margin-left: 420px;
  margin-top: -598px;}
.cardPargraph{
font-size: 20px;
}
.card-body2{
  margin-top: -58px;
}
.card2{
  margin-left: 20px;
  padding-top: -30px;
background-size: cover;
}
.cardPargraph{
  color: #fff;
  margin-left: 41px;
}
.headcard2{
  margin-right: 10px;
  float: right;
  margin-bottom: 20px;
  color:#5d5d5d ;
}
.Realestates{
  margin-right: 125px;
}
.Realestates2{
  margin-right: -5px;
}
.realestates{
  display: flex;
  direction: rtl;
}
.realestates a h2{
  font-size: 20px;
}
.realestates a{
text-decoration: none;
color: #5d5d5d;
}
.world{
  width: 270px;
  margin-top: -339px;
  margin-left: 150px;
}
.title a{
  text-decoration: none;
  font-size: 30px;
  color:#5d5d5d;
  margin-left: 145px;
}
.img-fluid {
  width: 250px;
  height: 480px;
  margin-left: 175px;
  margin-top: -1151px;
 }
.card-body3{
  background: #343a40;
  height: 60px;
}
.card-title2{
  color: #fff;
  font-size: 17px;
  margin-left: 31px;
}
.world a{
  text-decoration: none;

}
.height9 {
  margin-top: 5px;
  height: 1px;
  background: #8a8a8a;
width: 440px;
}
.img_media img{
  margin-left: 5px;
}
.Technique a{
  text-decoration: none;
  color:#5d5d5d;
}
.technique_part{
  direction: rtl;
}
.te_nes{
  color: #5d5d5d;
  margin-right: -60PX;
  line-height:30px;
}
.te_nes a{
text-decoration: none;
}
.image img{
  margin-right: 160px;
  margin-left: -200PX;
}
.row3{
  display: flex;
}
.row2{
  display: flex;
  direction: rtl;
}
.row2 a{
  text-decoration: none;
}
.Row4{
  margin-right: 160px;
}
.te_nes2{
  margin-right:20px; 
}
.te_nes4{
 margin-right: 100px; 
 margin-top: -20px;
}
.te_nes5{
  margin-right: 50px; 
}
.row_mix{
direction: rtl;
margin-top: 40px;}
.Title a{
  text-decoration: none;
  font-size: 30px;
  color:#5d5d5d;
  margin-right: 160PX;
}
.info {
margin-top: -60px;
margin-right: 170px;
font-weight: bold;

}
.info1 {
  margin-top: -65px;
  margin-right: 10px;
  width: 185px;
}
.info2{
    font-weight: bold;
    margin-top: -48px;
    margin-right: 10px;
    width: 185px;
}
.no-pd{
  margin-right: 606px;
  margin-top: -308px;
}
.no-pd img{
  height: 150px;
  margin-left: 20px;
  width: 195px;
}
.company{
  direction: rtl;
  background-color: #EEEEEE;
  height: 280px;
  width: 882px;
  margin-left: 482px;
}
.title_company{
  margin-top: 60px;
  margin-left: 1290px;

}
.title_company a{
  text-decoration: none;
  color:#5d5d5d;
  font-size: 30px;
}
.card-title4{
  font-size: 20px;
  color:#5d5d5d;
}
.c2{
  margin-right: -100px;
}
.card4{
  margin-top: -20px;
  margin-right: 15px;
}
.opinions_Heading a{
  text-decoration: none;
  font-size: 30px;
  color:#5d5d5d;
}
.opinions_Heading{
  width: 400px;
  margin-left: 21px;
    padding-left: 249px;
}
.Media{
  display: flex;
  direction: rtl;
  margin-left: 114px;
    width: 300px;
}
.opinions a{
text-decoration: none;
color: #5d5d5d;
font-size: 30px;
}
small::before {
  position: absolute;
  top: 10%;
  right: 26%;
  background: #d81717;
  content: '';
  width: 3px;
  height: 16px;
}
.opinions_Heading2 a{
  text-decoration: none;
  font-size: 30px;
  color:#5d5d5d;
  margin-left: 345px;

}
.list-group-item a{
  background-color: #EEEEEE;
  text-decoration: none;
  font-size: 17px;
  color: #5d5d5d;
  position: absolute;
  width: 285px;
  height: 70px;
  margin-left: 98px;
  padding-left: 30px;
  padding-top: 10px;
  margin-top: -19px;
}

.jobs ul li i {
  color: #d81717;
  direction: rtl;
}
.opinions_Heading3 {
  font-size: 10px;
  margin-left: 313px;
}
.list-group-item a:hover{
  background-color: #d81717;
  color: #fff;
}
.ic{
  color: #d81717; 
}
.title-reading {
  width: 285px;
  margin-top: 75px;
  background: #e4e4e4;
  border-bottom: 4px solid #d81717;
  margin-left: 129px;
}
.news_read::before {
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 290px;
  content: '';
  height: 1px;
  background: #e4e4e4;
}
.news_read2::before {
  position: absolute;
  bottom: -7px;
  right: 0;
  width: 290px;
  content: '';
  height: 1px;
  background: #e4e4e4;
}
.news_read {
  position: relative;
display: flex;
margin-left: 37px;}
.news_read2 {
  position: relative;
display: flex;
margin-left: 55px;
}
.text_Media h2 {
    display: inline-block;
    font-size: 18px;
    color:#5d5d5d;
}
.news_Reading {
      width: 315px;
      overflow: hidden;
      margin-left: 99px;
}
.news_read:hover {
background: #e4e4e4;}
.copyright {
font-family: HelveticaBold;
color: #fff;
font-size: 15px;
margin-top: 10px;
}
.footer-links{
  background-color: #2b2929;
  height: 300px;
  direction: rtl;
}
.links{
  display: flex;
}
.links ul li{
  list-style-type: none;
  line-height: 20px;
}
.links ul{
margin-right: 150px;
margin-top: 40px;}
.links ul li a{
color: #8a8a8a;
font-weight: bold;
line-height: 30px;
}
.links ul li a:hover{
color: #fff;
}
.foot .footer-menu a{
  float: left;
  text-decoration: none;
  margin-top: -40px;
  margin-left: -573px;
  font-family: HelveticaBold;
  color: #fff;
  font-size: 15px;
}
.Links{
    width: 500px;
    color: #fff;
    margin-right: 957px;
}
.row_foot {
    border-top: 1px solid #423e3e;
    width: 1082px;
    margin-right: 242px;
}
.foot{
margin-top: 170px;
} 
.footer-menu li a:hover {
color: #ccc;
}
.titlepart4 a:hover ,.part4 a:hover ,.card-title:hover ,.linksocial a:hover ,.sec p:hover ,.realestates a:hover ,.te_nes a:hover ,.title_company a:hover ,.opinions a:hover ,.opinions_Heading2 a:hover ,.card-title4:hover ,.title a:hover ,.headcard2:hover ,.Technique a:hover ,.Title a:hover ,.card-title1:hover{
  color: #d81717;
}
.post_absolute a{opacity: .9;}
.post_absolute a:hover{opacity: 1;}
.card2{opacity: .9;}
.card2:hover{opacity: 1;}
.card{opacity: 1;}
.card:hover{opacity: .9;}
.imgpart1 ,.imgpart2 {opacity: .9;}
.imgpart1:hover ,.imgpart2:hover{opacity: 1;}
.img_Media img{
margin-top: -5px;  
}
  .overlay {
    direction: rtl;
    width: 100%;
    height: 800px;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    margin-top: -231px;
    z-index: 2;
  }
.overlay-content input[type=text] {
  width: 700px;
  height: 50px;
  font-size: 17px;
  border: none;
  color: #fff;
  border: 1px solid #ddd;
  background: transparent;
}
.overlay-content {
  text-align: center;
  width: 80%;
  margin-top: 197px;
  margin-right: 100px;
}
.overlay .closebtn {
  cursor: pointer;
  margin-right: 1397px;
  margin-top: -186px;
  font-size: 60px;
  color: #fff;
}
.msg {
  font-size: 18px;
  direction: rtl;
  width: 400px;
  height: 200px;
  background-color: rgb(216 23 23 / 79%);;
  color: #fff;
  padding-top: 35px;
  padding-right: 30px;
  margin-top: 11px;
  margin-left: 1069px;
}
.msg:hover {
  background-color: #d81717;
}
.triangle{
  font-size: 60px;
  display: flex;
  margin-top: 35px;
  position: absolute;
  margin-right: 239px;
}
.marquee {
  overflow: hidden;
}
.slider_cur {
  background: #000;
  direction: ltr;
}
